
body{
    user-select: none;
}

.cursordisable{
    cursor: not-allowed;
    pointer-events: none;

}

.cartinput{
    pointer-events: none;
}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;

}

input[type=number]{
    -moz-appearance:textfield;
}


@media screen and (max-width:480px){

.overflow{
    width: 100%;
    overflow-x: scroll;
}

}